<h1><%- title %></h1>
<%- messages() %>
<% if (errors) {%>
    <ul class="notice">
    <%  errors.array().forEach(error => { %>
        <li> <%=error.msg %></li>
    <% }) %>
    </ul>
    <% } %>
<form class="cse-motor-form" action="/account/register" method="post">
    <span>*All input are required</span>
    <fieldset>
        <legend>Register your information</legend>
        <label class="form-label">First Name*
            <input type="text" name="account_firstname" placeholder="John" required value="<%= locals.account_firstname %>">
        </label>
        <label class="form-label">Last Name*
            <input type="text" name="account_lastname" placeholder="Doe" required value="<%= locals.account_lastname %>">
        </label>
        <label class="form-label">Email*
            <input type="email" name="account_email" placeholder="someone@emailprovider.com" required value="<%= locals.account_email %>">
        </label>
        <label class="form-label">Password*
            <input type="password" id="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>  
        </label>
        <span id="show-password">Show Password</span>
        <p class="form-requirements">
            <b>Password must be:</b> <br>
            Minimum 12 characters in length<br>
            Contain at least 1 capital letter<br>
            Contain at least 1 number<br>
            Contain at least 1 special character<br>
        </p>
        <hr>
        <input type="submit" name="registerBtn" value="Register">
    </fieldset>
</form>
<script src="/js/script.js"></script>