<h1><%- title %></h1>
<%- messages() %>
<% if (errors) {%>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%=error.msg %></li>
  <% }) %>
</ul>
<% } %>
<form class="cse-motor-form" action="/inv/add-inventory" method="post">
    <span>All fields are required*</span>
    <fieldset>
        <legend>Add Vehicle Information</legend>
        <label class="form-label">Classification*
            <%- select %>
        </label>
        <label class="form-label">Make*
            <input type="text" name="inv_make" minlength="3" placeholder="Min of 3 characters" value="<%= locals.inv_make %>" required>
        </label>
        <label class="form-label">Model*
            <input type="text" name="inv_model" minlength="3" placeholder="Min of 3 characters" value="<%= locals.inv_model %>" required>
        </label>
        <label class="form-label">Year*
            <input type="text" name="inv_year" pattern="^[0-9]{4}$" placeholder="4 digits year" value="<%= locals.inv_year %>" required>
        </label>
        <label class="form-label">Description*
            <textarea name="inv_description" minlength="30" placeholder="Min of 30 characters" required><%= locals.inv_description%></textarea>
        </label>
        <label class="form-label">Image*
            <input type="text" name="inv_image" value="/images/vehicles/no-image.png" required>
        </label>
        <label class="form-label">Thumbnail*
            <input type="text" name="inv_thumbnail" value="/images/vehicles/no-image-tn.png" required>
        </label>
        <label class="form-label">Price*
            <input type="text" name="inv_price" pattern="^[0-9]+(?:\.[0-9]+)?$" value="<%= locals.inv_price %>" required>
        </label>
        <label class="form-label">Miles*
            <input type="number" name="inv_miles" placeholder="Digits only" value="<%= locals.inv_miles %>" required>
        </label>
        <label class="form-label">Color*
            <input type="text" name="inv_color" minlength="3" value="<%= locals.inv_color %>" required>
        </label>
        <input type="submit" name="submitBtn" value="Add Vehicle">
    </fieldset>
</form>
